/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.example
WELCOME_BLADE_BACKUP.txt
.phpunit.result.cache
composer.json
server.php
/tests
/database
/storage
artisan
